<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <Include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
    </layout>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
    </encoder>
    <file>${LOG_PATH_NAME}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>

  <!-- STDOUT Appender -->
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- FILE Appender -->
  <property name="LOG_DIR" value="./logs"/>
  <property name="LOG_PATH_NAME" value="${LOG_DIR}/service-log.log"/>


  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="FILE" />
    </root>
  </springProfile>
</configuration>
